.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li > ul > li > a {
  text-decoration: none;
    color: red;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: lightgray;
  border-color: lightgray;
  color: black;
}

.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}

.btn-gray-mod {
  background-color: lightgray;
  border-color: lightgray;
  color: black;
}

.btn-red-mod {
  background-color: red;
  border-color: red;
  color: white;
}