.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
}

.btn-gray {
    background-color: lightgray;
    border-color: lightgray;
    color: black;
}

.btn-gray-2 {
    background-color: lightgray;
    border-color: lightgray;
    color: black;
    padding: 7.8
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th,
.custom-table td {
    border: 1px solid lightgray;
    padding: 8px;
    text-align: center;
}

.custom-table th:first-child {
    text-align: left;
}

.custom-table td:first-child {
    text-align: left;
    color: red
}